html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, a {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

header, footer {
  background: #000;
  color: #fff;
  padding: 20px 15px;
}

a {
  text-decoration: none;
  color: #88c9ff;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}


.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.btn-nav {
  background: none;
  border: none;
  cursor: none;
  position: absolute;
  color: #ddd;
}

.btn-nav .material-icons {
  font-size: 3em;
}

main {
  max-width: 1240px;
  margin: 0 auto;
}

.hero-slider {
  position: relative;
  height: 100%;
}

.hero-slideshow {
  height: 100%;
}

.cycle-slideshow img {
  width: 100%;
  height: 100%;
}

#btn-next {
  top: 50%;
  right: 2%;
  z-index: 100;
}

#btn-prev {
  top: 50%;
  left: 2%;
  z-index: 100;
}

#adv-custom-pager {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 20px;
  width: 40%;
  transform: translateX(70%);
  background-color: rgba(0,0,0, 0.5);
  padding: 10px 15px;
}

#adv-custom-pager img {
  width: auto;
  height: 50px;
}
