* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #ddd;
}

.app {
  width: 80%;
  max-width: 1240px;
  height: 80vh;
  border-radius: 5px;
  padding: 20px 0;
  background-color: #fff;
  margin: 5% auto;
  box-sizing: border-box;
}

header {
  font-size: 2em;
  font-weight: 900;
  margin: 15px 0 20px 20px;
}

.nav-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-list li {
  font-size: 1.4em;
  display: inline-block;
  width: 20%;
  height: 2em;
  margin: 0;
  background-color: orangered;
  text-align: center;
  padding: 0 15px;
  box-sizing: border-box;
}

.nav-list li:hover {
  background-color: rgb(255, 142, 101);
}

.nav-list li > a {
  color: #fff;
  vertical-align: sub;
}

.main {
  display: table;
  clear: both;
}

aside {
  width: 20%;
  margin-right: 2%;
  float: left;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  list-style-type: none;
  font-size: 1.4em;
  display: block;
  height: 30px;
  background-color: rgb(90, 0, 128);
  color: white;
  border-bottom: 1px white solid;
  padding: 15px;
}

aside li:hover {
  background-color: rgb(105, 50, 128);
}

article {
  width: 77%;
  display: inline-block;
}

.row {
  width: 100%;
}

.img-wrap {
  float: left;
  width: 30%;
  margin: 0 3% 0 0;
  position: relative;
}

.img-wrap img {
  width: 100%;
  height: auto;
}

.img-wrap figcaption {
  color: white;
  background-color: #444;
  bottom: 0;
  text-align: left;
  width: 100%;
  padding: 15px 0 15px 10px;
  box-sizing: border-box;
  margin-top: -5px;
}

footer {
  margin: 25px 50px;
}