@charset "utf-8";
/* CSS Document */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

body {
	margin: 0;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	background-color: #a5a5a5;
}

header,
main,
footer {
	max-width: 1200px;
	margin: 0 auto;;
}

h1, h2, h3{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

header {
	background-color: black;
	color: white;

}

header h1 {
	margin: 0;
	line-height: 60px;	
}



main {
	background-color: #fff;
}

section p {
	line-height: 1.4;
}

section {
	/* display: grid;
	grid-template-columns: 1fr; */
}

.section-01,
.section-04 {
	padding-top: 1.5rem;
}

section h1 {
	text-align: center;
	margin-top: 0;
}

.section-01 {
	background-color: #FFF6E5;
}

.content-01 .text,
.content-03 .text {
	padding: 0 1.5rem 1rem;
}

.section-02 {
	background-color: #3E454C;
	padding: 1.5rem;
}

.content-02 {
	
	background-color: white;
	padding: 1.5rem;
}

.content-02 h1 {
	text-align: center;
}

/* Gameboard styles */

.game-board {
	display: grid;
	grid-template-columns: 5vw 5vw 5vw 5vw 5vw;
	grid-template-rows: 5vw 5vw 5vw 5vw 5vw;
	gap: 0.5vw;
	grid-auto-flow: row dense;
	justify-content: center;
	align-content: center;
}

.box {
	border: 2px solid black;
	display: grid;
	justify-items: center;
	align-items: center;
}

.box-06 {
	grid-row: 2;
	grid-column: 5;
}

.box-07 {
	grid-row-start: 3;
	grid-column-start: 5;
}

.box-08 {
	grid-row-start: 4;
	grid-column-start: 5;
}

.box-09 {
	grid-row-start: 5;
	grid-column-start: 5;
}

.box-10 {
	grid-row-start: 5;
	grid-column-start: 4;
}

.box-11 {
	grid-row-start: 5;
	grid-column-start: 3;
}

.box-12 {
	grid-row-start: 5;
	grid-column-start: 2;
}

.box-13 {
	grid-row-start: 5;
	grid-column-start: 1;
}

.box-14 {
	grid-row-start: 4;
	grid-column-start: 1;
}

.box-15 {
	grid-row-start: 3;
	grid-column-start: 1;
}

.box-16 {
	grid-row-start: 2;
	grid-column-start: 1;
}

.box-17 {
	background-color: royalblue;
	color: white;
	grid-row: 2 / span 2;
	grid-column: 2 / span 2;
}

.box-18 {
	background-color: darkorange;
	color: white;
	grid-row: 2 / span 2;
	grid-column: 4;
}

.box-19 {
	background-color: forestgreen;
	color: white;
	grid-row: 4;
	grid-column: 2 / span 3;
}

.section-03 article {
	color: white;
	padding: 2rem;
	grid-column: span 2;
}

.section-03 h1 {
	text-align: center;
}

.article-01 {
	background-color: #2185C5;
}

.article-02 {
	background-color: #FF7F66;
}



footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1.3rem;
}

footer a {
	color: white;
}

@media (min-width: 620px){

	

	header {
		padding-left: 1.2rem;
	}

	header h1,
	header nav a {
		line-height: 70px;
	}

	main {
		display: grid;
	}

	.section-03 {
		grid-row: 2;
		display:grid;
		grid-auto-flow: column;
	}
}

@media (max-width: 728px) {
	.game-board {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 100px 100px 100px 100px 100px;
	}
}

@media (min-width: 2000px) {
	/* These styles are for large desktops only...
	...do NOT use these settings for smaller tablet
	and mobile screen sizes... */
	.game-board {
		display: grid;
		grid-template-columns: repeat(5, 200px);
		grid-template-rows: repeat(5, 200px);
	}

}









