* {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: teal;
}

body {
  background: #ddd;
}

.header {
  width: 100%;
}

.header > h2 {
  margin: 15px 0 15px 50px;
}

.nav-list {
  background-color: #eee;
}

.nav-list li {
  display: inline-block;
  list-style-type: none;
  width: 100px;
  height: 50px;
  text-align: center;
  border-right: #ddd 1px solid;
  padding: 10px 0;
  box-sizing: border-box;
}

.nav-list li a {
  vertical-align: sub;
}

.article {
  width: 90%;
  height: 75vh;
  background-color: #fff;
  box-shadow: 0px 0px 10px #eee;
  border-radius: 10px;
  padding: 20px 50px;
}

.label {
  display: inline;
}

#result {
  margin-top: 20px;
  font: 1em;
  display: block;
}

#data {
  display: none;
}

.footer {
  text-align: center;
}

.profile-wrap {
  display: table;
  clear: both;
}

.pic-profile {
  width: 250px;
  float: left;
  margin-right: 20px;
}

.profile {
  display: inline;
}

span.email {
  font-size: 1.1em;
  font-weight: 900;
}

ul {
  padding: 0;
}

li.service {
  position: relative;
  list-style-type: none;
  display: inline-block;
  width: 20%;
  height: 200px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

li.service > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

li.service > p {
  position: relative;
  font-size: 1.2em;
  color: #fff;
  background-color: rgba(150, 150, 150, 0.5);
  padding: 10px;
  border-radius: 1px;
  z-index: 100;
  text-align: center;
  margin-top: 80%;
}
